<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SSH.Properties.Settings.ipdbConnectionString" connectionString="Data Source=M1BSS11;Initial Catalog=ipdb;Persist Security Info=True;User ID=sa;Password=a2154182A"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>